body, h1 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero-container {
    
    width: 100%;
    height: 900px; 

    background-image: url('https://images.unsplash.com/photo-1732109769472-822b9a32c5de?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    background-size: cover; 

    background-position: center; 

    position: relative; 

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    
    font-size: 200px;
    color: rgba(255, 255, 255, 0.443);
    z-index: 10; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

section {
    background-color: red;
}

section div {
    background-color: blue;
    display: flex;
    
}

section div p {
    background-color: orange;
}

section div img {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

